@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #1E1E1E;
  --secondary: #2C2C2C;
  --third: #3C3C3C;
  --fourth: #616161;

  --font: #EAEAEA;
  --font-dimm: #CCCCCC;

  --font-placeholder: #888888;

  --border-dark: #444444;
  --border-mid: #666666;

  --positive: #60E05D;
  --negative: #FF5353;

  --highlight: #5fa5f5;
  --highlight-dark: #2e5a9d;

  /* --primary: #FFFFFF;
  --secondary: #F5F5F5;
  --third: #e7e7e7;
  --fourth: #B0B0B0;
  
  --font: #1E1E1E;
  --font-dimm: #666666;
  
  --font-placeholder: #888888;
  
  --border-dark: #CCCCCC;
  --border-mid: #DDDDDD;
  
  --positive: #33CC33;
  --negative: #FF3333;
  
  --highlight: #3F8AE0;
  --highlight-dark: #91BFFF; */
}

@media (prefers-color-scheme: dark) {
  :root {
  --primary: #1E1E1E;
  --secondary: #2C2C2C;
  --third: #3C3C3C;
  --fourth: #616161;

  --font: #EAEAEA;
  --font-dimm: #CCCCCC;

  --font-placeholder: #888888;

  --border-dark: #444444;
  --border-mid: #666666;

  --positive: #60E05D;
  --negative: #FF5353;

  --highlight: #5fa5f5;
  --highlight-dark: #2e5a9d;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  height: 100%;
  min-height: 100vh;
  overflow-y: hidden;

  font-size: 12px;

  transition: all 150ms ease;
}

body {
  background-color: var(--primary);
  color: var(--font);
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  height: 100vh;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background-color: var(--secondary);
}

::-webkit-scrollbar-thumb {
  background-color: var(--third);
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--fourth);
}

.negative {
  color: var(--negative);
}

.positive {
  color: var(--positive);
}

.highlight {
  color: var(--highlight);
}